/*Start of My Framework*/
.overflow{overflow: auto;}
.fl-left{float: left;}
.fl-right{float:right;}
h2,h3{color:#444; letter-spacing: 0.6px;}
p{line-height: 1.4;color:#888;letter-spacing: 0.2px;}
.upper-case{text-transform: uppercase;}
.txt-center{text-align: center;}
/*End of My Framework*/
*{
    box-sizing: border-box;
}
.container{
    width:1170px;
    margin: auto;
}
.horizontalRow{
    height: 1px;
    width:80%;
    margin: auto;
    background-color: #999;
}
/*Start  of  Header*/
header .slider{
    background-image: url(../images/slider.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
}
header .slider .info{
    width : 500px;
    position : absolute;
    top : 40%;
    left : 32%;
}
header .slider .info h2{
    margin: 0;
    font-size: 50px;
    border-width: 4px 0;
    border-color: #FFF;
    border-style: solid;
    letter-spacing: 0;
}
header .slider .info button{
    width:250px;
    font-size: 20px;
    font-weight: 700;
    background: none;
    margin:20px 0px 0px 150px;
    border :solid 3px #FFF;
    padding:10px 30px;
    color: #2F2F2F;
}
/*Start  of  Nav*/
header nav {
    background-color: #252f31;
    color:#FFF;
}
header nav h2{color: #FFF;}
header nav h2 span,
i,
header nav ul li a:hover{color:#2ecc71;}
header nav ul{padding-left: 0;}
header nav ul li{
    list-style: none;
    padding: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: #FFF;
}
/*End of Nav*/
/*End  of  Header*/
/*Start  of  Features*/
.features{padding:50px 0 30px 0;}
.features .feature{width:33.33333%;}
.features .feature p{
    padding:0 10px;
}
/*End  of  Features*/
/*Start  of  About me*/
.aboutMe{background-color: #F3F2F3;}
.aboutMe img{
    width:40%;
    height: 90%;
    margin: auto;
    padding:20px;
}
.aboutMe .info{
    width: 60%;
    padding: 20px 0 0 15px;
}
.aboutMe .info p{width:80%;}
.aboutMe .info .hobbies{margin-top: 20px;}
.aboutMe .info .hobbies > div{width:50%;}
.aboutMe .info .hobbies i{
    width:7%;
    margin-top: 22px;
    margin-right: 3%;
}
.aboutMe .info .hobbies h3{
    width: 90%;
}
/*End  of  About me*/
/*Start  of  Skills */
.mySkills{
    padding-bottom: 20px;
    margin-top:40px;
}
.mySkills .skills{
    width: 40%;
    margin-right: 10%;
}
.mySkills .skills button{
    color: #2ecc71;
    background: none;
    border: 3px solid #2ecc71;
    padding: 10px 30px;
    margin-top:20px;
    font-size: 22px;
}
.mySkills .progress{width: 50%;}
.mySkills .progress .technique{margin-bottom: 14px;}
.mySkills .progress .technique progress{
    width: 100%;
    height: 25px;
    border: none;
    position: relative;
}
progress::after{
    content: attr(data-label);
    position: absolute;
    right: 11%;
    top:4px;
    font-weight: bold;
    color: #FFF;
}
progress::-webkit-progress-value {
background: #2ecc71;
}

progress::-webkit-progress-bar {
background: lightcyan;
}
.bar{
    width: 100%;
    height:25px;
    background-color:lightcyan;
}
.bar span{
    display: block;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    font-weight: bold;
    background-color:#2ecc71;
    text-indent: 90%;
}
.bar .content{
    width:70%;
    height: 100%;
    background-color:#2ecc71;
}
.bar .content p{
    color: white;
    font-weight: bold;
    padding-top: 3px;
    text-align: end;
}
/*End  of  Skills */
/*Start of  Resume*/
.myResume{
    background-color: #F2F2F2;
    padding:30px 0 80px 0;
    margin-top:15px;
}
.myResume p{
    color:#888;
    padding: 25px 120px;
    letter-spacing: 0.8px;
}
.myResume button{
    color: #2ecc71;
    background: none;
    border: 3px solid #2ecc71;
    padding: 15px 25px;
    margin-left: 40px;
}
/*End of  Resume*/
/*Start  of  Education*/
.myEducation{
    margin: 60px 0 0 50px;
    padding:20px 0 0 30px;
}
.myEducation .eduction{width: 55%;}
.myEducation .eduction h2{padding-bottom: 8px;}
.myEducation .certifcated{
    width: 40%;
    margin: 5% 0 5% 5%;
}
.myEducation .certifcated label{
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 3px;
}
.myEducation .certifcated hr{
    margin: 20px 0;
    height: 1.5px;
    background-color: #999;
}
/*End  of  Education*/
/*Start  of  Experience*/
.myExperience{
    margin: 60px 0 0 50px;
    padding:20px 0 0 30px;
}
.myExperience .experience{width: 55%;}
.myExperience .experience h2{padding-bottom: 8px;}
.myExperience .works{
    width: 40%;
    margin: 5% 0 5% 5%;
}
.myExperience .works label{
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 3px;
}
.myExperience .works hr{
    margin: 20px 0;
    height: 1.5px;
    background-color: #999;
}
/*End  of  Experience*/
/*Start  of  testimonail*/
.testimonail{
    background-color: #F2F2F2;
    padding: 30px 0 50px 0;
    color: #555;
}
.testimonail p{
    width: 75%;
    margin: auto;
    letter-spacing: 0.6px;
}
/*End  of  testimonail*/
/*Start  of  Protofolio*/
.myProtofolio{padding:40px;}
.myProtofolio p{
    width:80%;
    margin: 40px auto;
}
.myProtofolio .ourWork{margin-top:60px;}
.myProtofolio .ourWork div{
    width:33.333%;
    margin-bottom: 10px;
}
.myProtofolio .ourWork div img{
    width: 92%;
    margin:10px;
    padding:3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 10px 10px 5px #CCC;
}
/*End  of  Protofolio*/

/*Start  of  Contact*/
.contact {
    background-color: #252F31;
    padding:40px 20px 60px 20px;
}
.contact .info{
    width: 47.5%;
    margin-right: 5%;
}
.contact .info h2{color: #FFF;}
.contact .info address{
    color:#888;
}
.contact .info strong{
    color: #FFF;
}
.contact form{
    width: 47.5%;
    margin-top:3%;
}
.contact form label{
    display: block;
    color: #FFF;
    margin-bottom:10px;
}
#name,
#e-mail{
    width:80%;
    height: 30px;
    background-color: #4B5557;
    color: #FFF;
    margin-bottom: 10px;
}
#message{
    max-width:80%;
    min-width:80%;
    background-color: #4B5557;
    color: #FFF;
}
.contact form input[type="submit"]{
    color: #FFF;
    border: none;
    background-color: #191E22;
    margin-top:10px;
    padding:8px 15px;
}
/*End  of  Contact*/
/*Start  of  footer*/
footer{
    background-color: #191E22;
    padding:10px 0 0 10px;
}
footer span{
    padding-top: 10px;
    color:#555;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
footer span strong{
    color: #F2F2F2;
}
footer ul{
    list-style: none;
    margin:0;
}
footer ul li{
    display: inline-block;
    padding:10px 6px 5px;
}
/*End  of  footer*/